@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@500&display=swap');
*{
    font-family: 'kanit', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: ffffff;
  margin: 0%;
  background-color: white;
  }
  
 
  .navbar {
    display: flex;
    justify-content: end;
    background-color: rgb(20, 39, 53);
    top: 0;
    width: 100%;
    
  }
  .navbar a {
    position: static;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
    right: 0;
    
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .navbar image{
    display: flex;
    padding: 14px 16px; 

}
  .navbar div{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.horizontal{
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: row;
}

.vertical{
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
}
#imagemlogo{
    
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
#logo{
  left: 0;
  position: absolute;
  justify-self:center;
  align-items: center;
  display: flex;
  align-self:center;

}
.page-container {
  position: relative;
  min-height: 100vh;
}
.asses{
  background-image:url(../images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
}

.asses img{
  padding-top: 8%;
  height: 250px;
  margin: auto;
  display: block;
}
.asses h1{

  background-color: rgb(20, 39, 53);
  margin-top: 7%;
  font-weight: 200;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  white-space: pre-wrap; 
  height: max-content;
}

.seta{
  display:flex;
  margin-top: 3%;
}
.corpo {
  width: 600px;
  height: 50px;
  background: #142735;
}
.triangulo {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #142735;  
}
.corpo h2{
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  margin:auto;
  margin-top: 10px;
}
.dantas{
  display: flex;
  flex-flow: row wrap;
  text-align: justify;
}

.foto{
  padding-left: 5%;
  width: 40%;
  
}
.foto img{
  margin-top: 3%;
  width: 100%;
  border-radius: 3px;
}
.text{
  width: 55%;
  font-weight: 100;
  text-align: justify;
}

.text p{
  font-size: 17px;
  margin-left:6%;
  margin-right: 6%;

}
.dantas p{
  font-size: 17px;
  padding-left:65px;
  padding-right: 100px;

}

.linha{
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
}
.coluna-33 {
  margin-top: 10px;
  width: 33.33%;
  text-align: center; 
}
.coluna-33 h2{
   font-size: 20px;
   font-weight: bolder;
}

.coluna-33 img{
  width: 68%;
  border-radius: 3px;
}
.linha p{
  font-size: 17px;
  white-space:pre-line;
}
.out{
  display: flex;
  background-color: #142735;
  height: 40px;
  width: 200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 5px;

}
.out h2{
  font-weight: 100;
  margin: auto;
  color: #ffffff;
  font-size: 20px;
}
.ce{
  margin-left: 11%;
  margin-right: 11%;
}
.ce h2{
  font-size: 20px;
}
.ce p{
  font-size: 17px;
  text-align: justify;
  
}
.box-proj{
  display: flex;
  background-color: #dff1ff;
  height: auto;
  width: auto;
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 5px;
  margin-bottom: 50px;

}
.proj{
  text-align: justify;
  color: #000000;
  font-size: 17px;
  padding: 5%;
}
.fora{
  padding-bottom: 2.5rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
  color: rgb(195, 221, 255);
  background-color: rgb(226, 242, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  }
  
  @media screen and (max-width: 850px){
    
  .asses h1{
    margin-top: 0%;

  }
  .asses img{
    padding-top: 8%;
    height: 150px;
    margin: auto;
    display: block;
  }
  .corpo {
  width: 100%
  }
  .triangulo{
    border: none;
  }
  
  .dantas{
    display:block;
  }

  .foto{
    margin-left: 26%;
  }

  .text{
    width: 100%;
  }
  
  .coluna-33 {}
}