@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@500&display=swap');
*{
    font-family: 'kanit', sans-serif;
}

body {
    font-family: sans-serif;
    background-color:white;
    margin:0%;
    width: 100%;  
  }
  .navbar {
    display: flex;
    background-color: rgb(20, 39, 53);
    font-size: 17px; 
    justify-content: end;
  }
  .navbar a {
    position: static;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    right: 0;
  }
.navbar div{
    display: block;
    color: #f2f2f2;
    padding-left: 17px;
    text-decoration: none;
}
#imagemlogo{
  width: 40px;
  height: 40px;
  padding-right: 10%;
}
#logo{
  left: 0;
  position: absolute;
  align-items: center;
  display: flex;
  align-self:center;
}
.page-container {
    position: relative;
    min-height: 100vh;
  }
.asses{
    background-image:url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    align-items: center;
  }
.asses img{
    padding-top: 8%;
    height: 250px;
    width: auto;
    margin: auto;
    display: block;
  }
h1{
    background-color: rgb(20, 39, 53);
    margin-top: 60px;
    height: 100px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    white-space: pre-wrap; 
    height: max-content;  
}
.back{
        background-color: rgb(20, 39, 53);
        line-height: normal;
        height: 825px;
      }
    .seta{
       display:flex;
       margin-top: 5%;
      } 
    .corpo {
       width: 900px;
       height: 90px;
       background: #142735;
       display: flex;
       align-items: center;
      }
    .triangulo {
       border-top: 45px solid transparent;
       border-bottom: 45px solid transparent;
       border-left: 70px solid #142735;  
      }    
      .dantas{
        display: flex;
        flex-flow: row wrap;
      }
      .foto{
        padding-left: 5%;
        width: 40%; 
        padding-right: 3%;
      }
      .foto img{
        width: 100%;
      }
      .text{
        width: 50%;
      }
      .texge{
        font-size: 33px;
        text-align:justify;
      }
      .linha{
        margin-top: 60px;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin:auto;
      }
      .coluna-33 {
        width: 33.33%;
        text-align: center; 
    }
      .coluna-33 p{
        text-align: center;
      }
      .coluna-33{
        margin-top: 10px;
        white-space:pre-line;
      }
      .coluna-33 img{
        width: 80%;
        border: #000000;
        border-style:solid;
      }
      .out{
        display: flex;
        background-color: #142735;
        height: 80px;
        width: 300px;
        margin: auto;
        border-radius: 5px;
        color:#ffffff ;
      }
.ce h3,p{
    padding-left: 80px;
    padding-right: 80px;
    font-size: 27px;
    text-align: justify;
}
.proj p{
  padding:20px;
}
  h2{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin: auto;
  }
  h3{
    font-size: 35px;
    margin: auto;
  }
.box-proj{
    display: flex;
    background-color:#cbdeff;
    height: auto;
    width: auto;
    margin:40px 100px;
    border-radius: 5px;
    padding: 30px;
  }
  .proj{
    color: #000000;
  }
  .contato{
    flex-direction: column;
    display: flex;
    background-color:#cbdeff;
    height: auto;
    width: auto;
    margin:40px 10px;
    border-radius: 5px;
    align-items: center;
    align-self: center;
  }
  #contactForm{
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }
  .inputforms{
    width: 100%;
    background-color: transparent;
    border: 0px solid #ccc;
   margin: 10%;
   border-bottom: 1px solid #000;
    
  }
  .FBp1{padding: 10px;}
  .FBp2{padding: 10px;}
  .fora{
    padding-bottom: 2.5rem;
  }
  .ce2{
    --color: #00A97F;
   background-color: transparent;
   border-radius: .3em;
   position: relative;
   overflow: hidden;
   font-size: 15px;
   border: 1px solid;
   font-family: inherit;
   text-transform: uppercase;
   color: var(--color);
  
  }
  .ce2:hover {
    background-color: var(--color);
    color: #ffffff;
   }
   footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: rgb(195, 221, 255);
    background-color: rgb(226, 242, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    }
    @media screen and (max-width: 1400px) {
      .text, .texge, p{
        font-size: 25px;
      }
      .asses{
        height: 600px;
      }
      .back{
        height: 625px;
      }
      .contato{
        margin: 60px;
      }
    }
     @media screen and (max-width: 1100px) {
      .dantas,.linha{
        flex-flow: column wrap;
        align-items: center;
      }
      .coluna-33{
        width: 100%;
      }
      .coluna-33 p{
        font-size:23px;
      }
      .coluna-33 img{
        width:70%;
      }
      .asses{
        height: 500px;
      }
      .back{
        height: 525px;
      }
      .corpo {
        width: 100%;
       }
      .triangulo {
        display: none;
      } 
      .text, .texge, p{
        font-size: 18px;
        width: auto;
      }
      .text{
        padding: 0px 80px;
      }
      .foto{
        width:70%;
      }
      h2{
       font-size: 30px;
      }
      h3{
        font-size:25px;
      }
     }
     @media screen and (max-width: 850px) {
      .box-proj{
        margin:25px 50px;
      }
      .ce h3,.text,p{
        padding: 0px 40px;
      }
      h1{
        font-size: 30px;
        height: max-content;
      }
      .inputforms{
        width: 80%;
      }
      .inputforms::placeholder{
        font-size: 9px;
      }
     }
     @media screen and (max-width: 650px) {
      .navbar, .navbar a{
        font-size: 10px;
      }
      .asses img{
        height:125px;
      }
      .back{
        height: 375px;
      }
      .corpo{
        height:60px;
      }
      p,.text,.texge{
        font-size:14px;
      }
      .coluna-33 p{
        font-size: 15px;
      }
      h2{
        font-size: 15px;
      }
      h3{
        font-size: 18px;
      }
      .out{
        height: 50px;
        width: 170px;
      }
      .inputforms{
        width: 80%;
      }
      .inputforms::placeholder{
        font-size: 9px;
      }
     }
     @media screen and (max-width: 480px) {
      .navbar, .navbar a{
        font-size: 8px;
      }
      .corpo{
        height: 40px;
      }
      p,.text,.texge{
        font-size:10px;
      }
      .back{
        height: 300px;
      }
      .coluna-33 p{
        font-size: 12px;
      }
      .ce h3,h3, h2{
        font-size: 15px;
      }
      .ce h3,.text,p{
        padding: 0px 20px;
      }
      .box-proj{
        margin:15px 20px;
      }
      h1{
        font-size: 16px;
      }
   
      .inputforms{
        width: 80%;
      }
      .inputforms::placeholder{
        font-size: 9px;
      }
     }
